body#index_body {
	
}
/*************************************StyleFor Index************/

/*Body Style*/
body{
	
	
}


/* Heading image*/
img#heading_img_index {
	margin-bottom: 3%;
	width: 100% ;
	height: 100% ;
	margin: auto;
}

/*Box in index*/
div#main_window {
	background-color: #d1d1d1;
	/*background-image: url(../img/abcr1.jpg);
	background-repeat: no-repeat;
	padding-top:68px;*/
	border: 8px solid white;
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
	position: center;
	margin-top: 5%;
	width: 100px auto;
	height: 100px auto ;
	border-radius: 10px;
	text-align: center;
}

/*Box inside box*/
div#pao_index_container1{
	border: 10px solid black;
}

/**Next button style*/
p.next{
	border: solid 1px #CCCCCC;
	background-color: #918b8b;

	padding: 2px;
	margin: 0px 2px 0px 2px;
	  border-radius: 20px;
	  float: center;
	font: bold 20px/30px Arial, serif;
	color: #202020;
    
    letter-spacing: 5px;
    text-shadow: 
      -1px -1px 1px #111, 
      2px 2px 1px #363636;
	
}

/*Brangay Style*/
p.font1 {
	 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 40px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #e0dfdc;
    background-color: #333;
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 
      0 1px 0 #2e2e2e, 
      0 2px 0 #2c2c2c, 
      0 3px 0 #2a2a2a, 
      0 4px 0 #282828, 
      0 5px 0 #262626, 
      0 6px 0 #242424, 
      0 7px 0 #222, 
      0 8px 0 #202020, 
      0 9px 0 #1e1e1e, 
      0 10px 0 #1c1c1c, 
      0 11px 0 #1a1a1a, 
      0 12px 0 #181818, 
      0 13px 0 #161616, 
      0 14px 0 #141414, 
      0 15px 0 #121212, 
      0 22px 30px rgba(0, 0, 0, 0.9);
}

/*Other style for next button*/
a:hover{
	color:blue;
}
a:visited{
	color: black;
}
a:active{
	color: white;
}







/*Index window*/
div#main_window {
	background-color: white;
	border: 10px solid black;
	position: center;
	margin-top: 5%;
	width: 100px auto;
	height: 100px auto ;
	border-radius: 10px;
	text-align: center;
}



/**Heading sapr*/
div#heading_sapr{
	border: 3px solid black;
	margin: auto;
	width: 70%;
	height: 30%;
	padding: 10px;
}

/*Style for the News Box*/
div#news {
	background-color: white;
	border: 1px solid black;
	margin-top: 15px;
	width: 260px;
	height: 410px;
	float: left;
	border-radius: 10px;
	margin-left: 2%;
}


/*Style for the News title*/
div#news_title {
	background-color: #333;
	text-align: center;
}


/*Style for the main window(sapar, prevention)*/
div.container1 {
	background-color: white;
	border: 1px solid black;
	margin-top: 15px;
	width: 70%;
	height: 410px;
	float: left;
	margin-left: 20px;
	border-radius: 15px;
}

/*Style for the second window( regain and recover, contact) */
div.container2 {
	background-color: white;
	border:1px solid black;
	margin-top: 15px;
	width: 96%;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	border-radius: 15px;
}

/*Style for about us window*/
div.about_us {
	background-color: white;
	float: left;
	text-align: center;
	border: 1px solid black;
	margin-top: 10px;
	border-radius: 15px;
	width: 100%;
}

div.about_us_div {
	float: left;
	padding: 2%;
	padding-left: 4%;
}


/*style for menu*/
div#menu {
	
	margin-top: 3px;
	
}


/*Style for the news */
p#news_heading {
	color: white;
}

/*fonts*/
p.font1 {
	font-size: 25px;
}

p.font2 {
	font-size: 20px;
	font-family: sans-serif;
}


/*heading image*/
img#heading_img_index {
	margin-bottom: 3%;
	width: 100% ;
	height: 100% ;
	margin: auto;
	
}



img.about_us_img {
	width: 100px;
	height: 100px;
	padding: 5%;
}








/******Menu for SUBSTANCE ABUSE*/


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	height: auto;
	border-radius:15px;
	background-color: #333;

}

li {
	float: left;
    padding-left: 2%;
    padding-top: auto;
}

li a {
	display:inline-block;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	border-radius: 50%;
	width: 60%;
}

li a:hover {
	background-color: #111;
}